<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Directory Services Configuration-->
    
        <!--Necessary to connect to your directory service-->
        <add key="DirectoryBasePathWithServer" value="LDAP://ds1.example.com"/>
    
        <!--Used for ADSearches Class-->
        <add key="DirectoryBaseDN" value="dc=example,dc=com"/>
    
        <!--If username/pw is blank .NET will use the currently running user creds-->
        <add key="DirectoryConnectUsername" value="johndoe@example.com"/>
        <add key="DirectoryConnectPassword" value=""/>

  </appSettings>
</configuration>